@import '../../App.scss';

.about{
    height: 100%;
    background: linear-gradient(180deg, #0c0c1d, #111132);
}

.wrapper{
    max-width: 1068px;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 25px;

    h1{
        font-size: 50px;
        padding-bottom: 7%;

        @include mobile{
            padding-bottom: 12%;
        }
    }

    h2{
        font-size: 30px;
    }

    p{
        max-width: 85%;
        // font-size: 18px;
        // font-weight: 5;
        line-height: 200%;
        text-align: justify ;
        position: relative;

    }

    .btn{
        width: auto;
        padding: 8px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        margin-top: 35px;
    }

    .btn:hover{
        background: rgba(255,255,255,0.3);
    }
}
